body{
    background-color: whitesmoke;
}

button{
    background-color: white;
    border: none;
    padding:12px;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: "Heebo";
    font-weight: 700;
    letter-spacing: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.2s ease-in-out;
    margin:10px;
}
button:hover{
    cursor:pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button::-moz-focus-inner {
    border: 0;
  }

input{
    border-radius: 5px;
    text-align: left;
    border:1px solid black;
    padding:5px;
    transition: 0.2s ease-in-out;
}

input:focus{
    outline: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.delay{
  animation-delay: 500ms;
}

.con{
    margin: 0 auto;
    width:100dvh;
    text-align: center;
    margin-top:20dvh;
}

.con h1{
    font-family: "Heebo";
    font-weight: 900;
}

.prompt{
  font-family: "Heebo";
  color: rgb(0, 106, 255);
  margin-top:20px;
}

.score{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:10px;
}
.timer{
  padding:20px;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.score {
  margin: 0 10px;
}


.animate.pop {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }